.number {
  width: 33.333%;
  border: 0;
  border-right: 2px solid #084b3c;
  border-bottom: 2px solid #084b3c;
  background-color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.number::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.oneFourth {
  width: 25%;
}

.twoThird {
  width: 66.666%;
}

.wide {
  width: 100%;
}

.pressed {
  box-shadow: inset rgba(0, 0, 0, .2) 6px 6px 12px;
}
