.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.leftSide {
  width: 75%;
  align-self: stretch;
}

.rightSide {
  width: 25%;
  align-self: stretch;
}

.operations {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 0 0 -1px;
}

.operationsItem {
  border: 0;
  border-bottom: 2px solid #084b3c;
}

.operationsItem::before {
  padding-top: 96.5%;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
}

.calculations {
  width: 100%;
  composes: numbers;
}

.zero::before {
  padding-top: 49%;
}
