.container {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.leftSide {
  width: 75%;
  align-self: stretch;
}

.rightSide {
  width: 25%;
  align-self: stretch;
}

.operations {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.operationsItem {
}
