.container {
  display: flex;
  align-items: center;
  background-color: #303030;
  padding: 10px 20px;
  height: 120px;
}

.value {
  color: #08705f;
  font-weight: 700;
  font-size: 24px;
  word-break: break-all;
}
